*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 20px;
  text-align: center;
}
h2 {
  margin: 1rem;
}

.container {
  height: 500px;
}

.carousel {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.carousel.dragging a {
  pointer-events: none;
}

.carousel > .carousel_container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel > .carousel_container > ul.carousel_track {
  position: relative;
  height: 100%;
  list-style: none;
}

.carousel > .carousel_container > ul.carousel_track > li.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
}

.carousel > .carousel_container > ul.carousel_track > li.carousel_slide img {
  width: 100%;
}

.carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel_button-left {
  left: -40px;
}
.carousel_button-right {
  right: -40px;
}

.carousel_nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.carousel_nav button {
  border: 1px solid #000;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #fff;
  margin: 0 5px;
  cursor: pointer;
}
.carousel_nav button.current_slide {
  background: grey;
  border-color: #fff;
}